page-home {
	
.bm
{
	background:url("../assets/imgs/weather2.jpg");
	background-repeat:no-repeat;
	//width:100%;
	background-size:cover;
	//background-position:center;
	
}
.om
{
	background:#4169e1;
	
}

.button
{
	
	width:60%;
}
	


	}
