page-details {

/*ion-card-header {
  background: #984779 !important;
}*/
.bg{
	background: linear-gradient(to top ,#045FB4 0% , #FFF 100%);
}

.cg
{
	background:#4169e1;
	text-align:center;	

	//text-color:#111111
}

}
